        #header_line{
            width: 100%;
            height:100px;
            background-color: #87CEEB;
            min-width: 1030px;
        }
        #main_content{
            height:1000px;
            }
        #footer_line{
            background-color: #87CEEB;
            height:50px;
        }
        .contents{
            width: 1030px;
            margin: 0 auto;
        }
        #main_content{
            height:2000px;
        }
        #header_contents div{
            color:white;
        }
        #title{
            float:left;
            font-size: 70px;
        }
        #login{
            float;right;
            font-size:30px;
            margin-top:30px;
        }
        #copyright{
            width:200px;
            margin-left: auto;
            margin-right: auto;
            color:white;
            padding-top:13px;
        }
        #right_elements{
            position:relative;
            display:block;
            float:right;
        }
        #right_elements ul{
            display: inline-block;
        }
        #right_elements li{
            display: inline-block;
        }
        .clearfix{
            clear:both;
        }
        a{
            text-decoration: none;
            color:white;
        }
        #login_link:hover{
            color:#F7F7FF;
        }
        #tool_area{
            width:780px;
            float:left;
        }
        #ad_area{
            width: 250px;
            float:left;
        }
        .contentBox{
            width:380px;
            margin:2px 2px;
            float:left;
            border-radius:15px;
            height:400px;
            position:relative;
            border:solid;
            color:white;
        }
        .adbox{
            width:250px;
            margin:2px 2px;
            float:left;
            border-radius:15px;
            height:400px;
            position:relative;
            border:solid;
            color:white;
        }
        .tools{
            background-color:#87CEEB;
            border-color:#87CEEB;
        }
        .toolImg{
            height:355px;
            width:380px;
            border-radius: 15px 15px 0px 0px;
        }
        .ad{
            background-color:red;
            border-color:red;
        }
        #message{
            width:1030px;
            margin:0 auto;
        }
        .content_link{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            text-indent:-999px;
        }